@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway/Raleway-Medium.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway/Raleway-Bold.ttf') format("truetype");
  font-style: normal;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
.btn {
  width: 170px;
  height: 50px;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  text-decoration: none;
  padding: 0;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #c7b299;
  transition: background-color 0.2s;
}
.btn:active {
  background-color: #998675;
}
.btn-title {
  text-align: center;
  margin: auto;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
}
.mobile-menu {
  display: none;
}
.mobile-menu-check {
  visibility: hidden;
}
.main-header {
  background: #555555 url(../img/header-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 944px;
  padding: 40px 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-header-nav-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header-nav-wrp-logo {
  outline: none;
  height: 56px;
  margin: 0 205px 0 0;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.main-header-nav-wrp-logo-svg {
  fill: currentColor;
  outline: none;
}
.main-header-nav-wrp-logo-text {
  margin: 0;
  text-decoration: none;
  text-align: right;
  font-family: Raleway-Regular;
  font-size: 34px;
  font-weight: 300;
}
.main-header-nav-wrp-logo:hover {
  color: #c7b299;
  transition: color 0.2s;
}
.main-header-nav-wrp-logo:active {
  color: #fff;
  transition: color 0.2s;
}
.main-header-nav-wrp-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 50px 0 0;
  padding: 0;
  height: 56px;
}
.main-header-nav-wrp-list-item {
  margin: auto 14px;
}
.main-header-nav-wrp-list-item-link {
  outline: none;
  text-decoration: none;
  display: block;
  line-height: 56px;
  margin: auto;
  transition: color 0.2s;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.main-header-nav-wrp-list-item-link:hover {
  color: #c7b299;
  transition: color 0.2s;
}
.main-header-nav-wrp-list-item-link:active {
  color: #fff;
  transition: color 0.2s;
}
.main-header-content-wrp {
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-header-content-wrp-control {
  outline: none;
  width: 40px;
  height: 73px;
  margin: 115px 22px 0 10px;
  transition: color 0.2s;
}
.main-header-content-wrp-control::after {
  content: "";
  display: block;
  width: 51.6px;
  height: 51.6px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
}
.main-header-content-wrp-control:nth-child(1)::after {
  transform: rotate(225deg);
}
.main-header-content-wrp-control:hover::after {
  border-top: 2px solid #8c8c8c;
  border-right: 2px solid #8c8c8c;
  transition: color 0.2s;
}
.main-header-content-wrp-control:active::after {
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transition: color 0.2s;
}
.main-header-content-wrp-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.main-header-content-wrp-content-title-1 {
  font-family: Raleway-SemiBold;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 10px 0;
}
.main-header-content-wrp-content-title-2 {
  font-family: Raleway-ExtraBold;
  font-size: 52px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 10px 0;
}
.main-header-content-wrp-content-text {
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 50px 0;
  padding: 0;
  max-width: 562px;
  line-height: 24px;
}
.main-header-pagination {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}
.main-header-pagination-link {
  width: 11px;
  height: 11px;
  background-color: #555555;
  margin: auto 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
  transition: color 0.2s;
}
.main-header-pagination-link:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
  transition: color 0.2s;
}
.basket {
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  outline: none;
}
.basket-svg {
  outline: none;
  width: 24px;
  height: 24px;
  fill: #fff;
  fill-rule: evenodd ;
  transition: fill 0.2s;
}
.basket-svg:hover {
  fill: #c7b299;
  transition: fill 0.2s;
}
.basket-svg:active {
  fill: #fff;
  transition: fill 0.2s;
}
.search {
  height: 24px;
  padding: 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: -270px;
  outline: none;
  caret-color: #fff;
  font-family: 'Montserrat-Light';
  font-size: 16px;
  color: #fff;
}
.search:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
}
.search-form {
  position: relative;
}
.search-svg {
  fill: #fff;
  outline: none;
  transition: fill 0.2s;
}
.search-svg:hover {
  fill: #c7b299;
  transition: fill 0.2s;
}
.search-svg:active {
  fill: #fff;
  transition: fill 0.2s;
}
.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0;
}
.services-item {
  width: 266px;
  height: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 33px 0 0;
  justify-content: space-between;
  text-decoration: none;
  outline: none;
}
.services-item:nth-child(4) {
  margin: 0;
}
.services-item::after {
  display: block;
  content: "";
  border-bottom: 3px solid #f1eee9;
  width: 70px;
  color: #f1eee9;
}
.services-item:hover .services-item-icon {
  fill: #c7b299;
  transition: fill 0.2s;
}
.services-item:hover .services-item-title {
  color: #c7b299;
  transition: color 0.2s;
}
.services-item:hover::after {
  border-bottom: 3px solid #c7b299;
  color: #c7b299;
  transition: color 0.2s;
}
.services-item-icon {
  width: 49px;
  height: 49px;
  fill: #555555;
}
.services-item-title {
  color: #555555;
  font-family: Raleway-SemiBold;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.services-item-content {
  color: #8c8c8c;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  margin: 0;
}
.realization-ideas {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px 0 0 0;
}
.realization-ideas__title-wrp {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px 0 32px 0;
}
.realization-ideas__title {
  width: 100%;
  font-family: Raleway-SemiBold;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #555555;
  margin: 0px 0 10px 0;
}
.realization-ideas__text {
  font-family: Montserrat-Light;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  max-width: 770px;
}
.realization-ideas__content {
  width: 1220px;
  height: 482px;
  margin: 0 auto;
  position: relative;
}
.realization-ideas__content-img {
  width: 770px;
  height: 400px;
  background-color: #4e3427;
  outline: none;
  transition: transform 0.2s;
}
.realization-ideas__content-img:nth-child(1) {
  z-index: 0;
  position: absolute;
  bottom: 0;
}
.realization-ideas__content-img:nth-child(2) {
  height: 482px;
  z-index: 2;
  position: absolute;
  left: 230px;
}
.realization-ideas__content-img:nth-child(2):hover {
  z-index: 4;
  transform: none;
}
.realization-ideas__content-img:nth-child(3) {
  z-index: 1;
  position: relative;
  left: 460px;
  bottom: -82px;
}
.realization-ideas__content-img:hover {
  z-index: 4;
  transform: scale(1.2) translate(0px, -33px);
  transition: transform 0.2s;
}
.realization-ideas__content-img:hover {
  z-index: 4;
  transform: scale(1.2) translate(0px, -33px);
  transition: transform 0.2s;
}
.wordpress {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.wordpress-box {
  background: linear-gradient(to right, #211b19, #4e3427);
  box-sizing: border-box;
  padding: 50px;
}
.wordpress__title {
  font-family: Raleway-Regular;
  font-size: 28px;
  font-weight: normal;
  color: #fff;
}
.wordpress__title-logo {
  color: #c7b299;
}
.wordpress__text {
  font-family: Montserrat-Light;
  font-size: 18px;
  font-weight: 300;
  color: #615855;
  margin: 0;
}
.latest-projects {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}
.latest-projects__header {
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
}
.latest-projects__header-title {
  font-family: Raleway-SemiBold;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
  display: block;
  margin: 0 0 15px 0;
}
.latest-projects__header-text {
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 200;
  color: #8c8c8c;
  margin: 0 0 35px 0;
  line-height: 24px;
}
.latest-projects__nav {
  display: flex;
  justify-content: center;
  margin: 0;
}
.latest-projects__nav-link {
  text-decoration: none;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  box-sizing: border-box;
  padding: 8px 20px;
  margin: 0 5px;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  outline: none;
  transition: color 0.2s;
}
.latest-projects__nav-link:hover {
  background-color: #998675;
  color: #fff;
  transition: color 0.2s;
}
.latest-projects__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  max-width: 1170px;
}
.latest-projects__content-wrp {
  width: 370px;
  height: 337px;
  margin: 0 0 30px 0;
  position: relative;
  transition: filter 0.2s, background-color 0.2s;
}
.latest-projects__content-wrp:hover .latest-projects__content-img {
  filter: brightness(30%);
  transition: filter 0.2s;
}
.latest-projects__content-wrp:hover .latest-projects__content-link {
  display: block;
}
.latest-projects__content-wrp:hover .latest-projects__content-title-wrp {
  background-color: #362f2d;
  transition: background-color 0.2s;
}
.latest-projects__content-wrp:active .latest-projects__content-img {
  filter: none;
}
.latest-projects__content-wrp:active .latest-projects__content-title-wrp {
  background-color: #fff;
}
.latest-projects__content-wrp:nth-child(6) {
  margin-bottom: 0;
}
.latest-projects__content-wrp:nth-child(4) {
  margin-bottom: 0;
}
.latest-projects__content-wrp:nth-child(5) {
  margin-bottom: 0;
}
.latest-projects__content-item {
  text-decoration: none;
  outline: none;
}
.latest-projects__content-title-wrp {
  padding: 25px 30px;
  text-align: left;
  text-decoration: none;
}
.latest-projects__content-title {
  font-family: Raleway-Medium;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  text-decoration: none;
  display: block;
  margin: 0px 0 10px 0;
}
.latest-projects__content-desc {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.latest-projects__content-box {
  margin: 0;
}
.latest-projects__content-img {
  vertical-align: bottom;
}
.latest-projects__content-link {
  fill: #fff;
  text-decoration: none;
  display: none;
  position: absolute;
  transition: fill 0.2s;
}
.latest-projects__content-link_left {
  top: 106px;
  left: 146px;
}
.latest-projects__content-link_right {
  top: 106px;
  right: 146px;
}
.latest-projects__content-link:hover {
  fill: #c7b299;
  transition: fill 0.2s;
}
.latest-projects__content-link:active {
  fill: #fff;
  transition: fill 0.2s;
}
.video {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-file {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}
.video__infobox {
  width: 552px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
}
.video__infobox-play {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 0 40px 0;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #fff;
  transition: scale 0.2s, color 0.2s;
}
.video__infobox-play:hover {
  transform: scale(1.2);
  transition: scale 0.2s;
}
.video__infobox-play:active {
  color: #c7b299;
  transition: color 0.2s;
}
.video__infobox-icon-play {
  fill: currentColor;
}
.video__infobox-title {
  font-family: Raleway-Medium;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 15px 0;
}
.video__infobox-text {
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 40px 0;
  line-height: 24px;
}
.video__infobox-time {
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: normal;
  color: #c7b299;
}
.mobile {
  box-sizing: border-box;
  padding: 80px 80px 0 80px;
  display: flex;
  justify-content: center;
}
.mobile__img-box {
  margin: 0;
}
.mobile__img {
  vertical-align: bottom;
}
.mobile__content {
  background-color: #fff;
  background-image: url(../img/);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 110px 0 0 30px;
}
.mobile__content-title {
  font-family: Raleway-SemiBold;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin: 0 0 25px 0;
}
.mobile__content-text {
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0 0 30px 0;
  max-width: 657px;
  line-height: 28px;
}
.mobile__content-list {
  margin: 0 0 0 50px;
  padding: 0 0 0 50px;
  list-style-type: none;
}
.mobile__content-list-item {
  position: relative;
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 32px;
}
.mobile__content-list-item::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/li-arrow.svg);
  position: absolute;
  left: -50px;
  top: 5px;
}
.counters {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 65px;
  background: linear-gradient(to right, #211b19, #4e3427);
}
.counters-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 171px;
  margin: 0 40px;
}
.counters-item::after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid #c7b299;
}
.counters-icon {
  fill: #c7b299;
  margin: 0 0 10px 0;
}
.counters-meter {
  font-family: Montserrat-ExtraLight;
  font-size: 48px;
  font-weight: 200;
  color: #c7b299;
  margin: 0;
}
.counters-title {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #c7b299;
  padding: 0;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.recent-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 375px;
}
.recent-posts-title {
  font-family: Raleway-SemiBold;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
  display: block;
  margin: 0 0 15px 0;
}
.recent-posts-text {
  font-family: Montserrat-Light;
  font-size: 16px;
  font-weight: 200;
  color: #8c8c8c;
  margin: 0 0 35px 0;
  line-height: 24px;
  text-align: center;
  max-width: 757px;
}
.recent-posts__content {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}
.recent-posts__content-wrp {
  margin: 0;
}
.recent-posts__content-item {
  width: 370px;
  height: 395px;
  margin: 0 30px 0 0;
  text-align: center;
  position: relative;
  transition: filter 0.2s, color 0.2s, background-color 0.2s;
}
.recent-posts__content-item:nth-child(3) {
  margin: 0;
}
.recent-posts__content-item:hover .recent-posts__content-img {
  filter: brightness(30%);
  transition: filter 0.2s;
}
.recent-posts__content-item:hover .recent-posts__content-desc {
  background-color: #362f2d;
  transition: background-color 0.2s;
}
.recent-posts__content-item:hover .recent-posts__content-title {
  color: #c7b299;
  transition: color 0.2s;
}
.recent-posts__content-item:hover .recent-posts__content-text {
  color: #fff;
  transition: color 0.2s;
}
.recent-posts__content-item:hover .recent-posts__content-date-num {
  background-color: #c7b299;
  transition: background-color 0.2s;
}
.recent-posts__content-item:hover .recent-posts__content-date-month {
  background-color: #a48d72;
  transition: background-color 0.2s;
}
.recent-posts__content-item:active .recent-posts__content-img {
  filter: none;
}
.recent-posts__content-item:active .recent-posts__content-desc {
  background-color: #fff;
}
.recent-posts__content-img {
  vertical-align: bottom;
}
.recent-posts__content-title {
  font-family: Raleway-SemiBold;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0 0 10px 0;
}
.recent-posts__content-text {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 200;
  max-width: 315px;
  color: #8c8c8c;
  margin: 0;
  line-height: 28px;
}
.recent-posts__content-desc {
  padding: 28px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.recent-posts__content-link {
  text-decoration: none;
  color: #c7b299;
  position: relative;
  padding: 20px 0 0 0;
  outline: none;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 200;
}
.recent-posts__content-link::after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 6px solid #c7b299;
  position: absolute;
  left: 85px;
  top: 26px;
}
.recent-posts__content-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 198px;
}
.recent-posts__content-pagination-link {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.3;
  margin: auto 5px;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
  transition: scale 0.2s;
}
.recent-posts__content-pagination-link:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
  transition: scale 0.2s;
  opacity: 1;
}
.recent-posts__content-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
}
.recent-posts__content-date-num {
  font-family: Montserrat-Light;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 10px;
  background-color: rgba(36, 36, 36, 0.8);
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.recent-posts__content-date-month {
  font-family: Montserrat-Light;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 10px;
  background-color: rgba(25, 25, 25, 0.8);
  color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.recent-posts__pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
.recent-posts__pagination :first-child {
  margin: 0 8px 0 0;
}
.recent-posts__pagination-link {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid#d1d1d1 ;
  outline: none;
  transition: color 0.2s;
}
.recent-posts__pagination-link::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  transform: rotate(45deg);
  margin: 6px 0 0px 4px;
}
.recent-posts__pagination-link:nth-child(1)::after {
  transform: rotate(225deg);
  margin: 6px 0 0px 7px;
}
.recent-posts__pagination-link:hover {
  border: 2px solid#c7b299 ;
  transition: color 0.2s;
}
.recent-posts__pagination-link:hover::after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
  transition: color 0.2s;
}
.recent-posts__pagination-link:active {
  border: 2px solid#d1d1d1 ;
  transition: color 0.2s;
}
.recent-posts__pagination-link:active::after {
  border-top: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  transition: color 0.2s;
}
.partners {
  background: #191919 url(../img/partners-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 138px 40px;
  background-size: cover;
}
.partners-link {
  margin: 0 90px 0 0;
  text-decoration: none;
  outline: none;
  transition: transform 0.2s;
}
.partners-link:last-child {
  margin: 0;
}
.partners-link:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}
.footer {
  padding: 80px 20px 40px 20px;
  display: flex;
  justify-content: center;
  background-color: #191919;
}
.footer__desc {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 270px;
  margin: 0px 30px 0 0;
}
.footer__desc-logo {
  outline: none;
  margin: -5px 0 20px 0;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.footer__desc-logo:hover {
  color: #c7b299;
  transition: color 0.2s;
}
.footer__desc-logo:active {
  color: #fff;
  transition: color 0.2s;
}
.footer__desc-img {
  fill: currentColor;
}
.footer__desc-title {
  margin: 0;
  text-decoration: none;
  text-align: right;
  font-family: Raleway-Regular;
  font-size: 34px;
  font-weight: 300;
}
.footer__desc-text {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  line-height: 24px;
  margin: 0 0 25px 0;
}
.footer__desc-link {
  color: #d1d1d1;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  outline: none;
  transition: color 0.2s;
}
.footer__desc-link::after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 6px solid currentColor;
  position: absolute;
  left: 85px;
  top: 6px;
}
.footer__desc-link:hover {
  color: #c7b299;
  transition: color 0.2s;
}
.footer__desc-link:active {
  color: #d1d1d1;
  transition: color 0.2s;
}
.footer__posts {
  max-width: 270px;
  padding: 20px 0 0 0;
  margin: 0px 30px 0 0;
}
.footer__posts-title {
  font-family: Raleway-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer__posts-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  text-decoration: none;
  outline: none;
  transition: color 0.2s;
}
.footer__posts-item::after {
  display: block;
  content: "";
  border-bottom: 2px solid #555555;
  width: 100%;
}
.footer__posts-item:last-child::after {
  display: none;
}
.footer__posts-item:hover .footer__posts-date {
  color: #fff;
  transition: color 0.2s;
}
.footer__posts-item:hover .footer__posts-desc {
  color: #c7b299;
  transition: color 0.2s;
}
.footer__posts-item:active .footer__posts-date {
  color: #fff;
  transition: color 0.2s;
}
.footer__posts-item:active .footer__posts-desc {
  color: #fff;
  transition: color 0.2s;
}
.footer__posts-date {
  font-family: Montserrat-Light;
  font-size: 12px;
  font-weight: 300;
  color: #363636;
  margin: 0 0 10px 0;
}
.footer__posts-desc {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  margin: 0 0px 20px 0;
  line-height: 18px;
}
.footer__twitter {
  padding: 20px 0 0 0;
  max-width: 270px;
  margin: 0px 30px 0 0;
}
.footer__twitter-title {
  font-family: Raleway-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.footer__twitter-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  text-decoration: none;
  transition: color 0.2s;
}
.footer__twitter-item::after {
  display: block;
  content: "";
  border-bottom: 2px solid #555555;
  width: 100%;
}
.footer__twitter-item:last-child::after {
  display: none;
}
.footer__twitter-item:hover .footer__twitter-time {
  color: #fff;
  transition: color 0.2s;
}
.footer__twitter-item:hover .footer__twitter-text {
  color: #c7b299;
  transition: color 0.2s;
}
.footer__twitter-text {
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  margin: 0 0 10px 0;
}
.footer__twitter-text a {
  text-decoration: none;
  color: #00bff3;
  outline: none;
  transition: color 0.2s;
}
.footer__twitter-text a:hover {
  color: #fff;
  transition: color 0.2s;
}
.footer__twitter-text a:active {
  color: #959595;
  transition: color 0.2s;
}
.footer__twitter-time {
  font-family: Montserrat-Light;
  font-size: 12px;
  font-weight: 300;
  color: #363636;
  margin: 0 0 20px 0;
}
.footer__widget {
  width: 270px;
  padding: 20px 0 0 0;
}
.footer__widget-wrp {
  margin: 25px 0 0 0;
}
.footer__widget-title {
  font-family: Raleway-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.footer__widget-wrp {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}
.footer__widget-link {
  text-decoration: none;
  width: 130px;
  height: 98px;
  outline: none;
  transition: transform 0.2s;
}
.footer__widget-link:first-child {
  margin: 0 10px 10px 0;
}
.footer__widget-link:first-child:hover {
  transform: scale(1.2) translate(-10%, -10%);
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(2) {
  margin: 0 0 10px 0;
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(2):hover {
  transform: scale(1.2) translate(10%, -10%);
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(3) {
  margin: 0 10px 0 0;
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(3):hover {
  transform: scale(1.2) translate(-10%, 10%);
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(4) {
  transition: transform 0.2s;
}
.footer__widget-link:nth-child(4):hover {
  transform: scale(1.2) translate(10%, 10%);
  transition: transform 0.2s;
}
.copyright {
  background-color: #111111;
  padding: 45px;
  display: flex;
  justify-content: center;
}
.copyright a:nth-of-type(1) {
  font-family: Montserrat;
  color: #959595;
  margin-left: 0;
  transition: color 0.2s;
}
.copyright a:nth-of-type(1):hover {
  color: #c7b299;
  transition: color 0.2s;
}
.copyright a:nth-of-type(1):active {
  color: #555555;
  transition: color 0.2s;
}
.copyright__wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555555;
}
.copyright__wrp-link {
  text-decoration: none;
  outline: none;
  font-family: Montserrat-Light;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  transition: color 0.2s;
}
.copyright__wrp-link:hover {
  color: #c7b299;
  transition: color 0.2s;
}
.copyright__wrp-link:active {
  color: #555555;
  transition: color 0.2s;
}
.copyright__wrp_left {
  margin: 0 450px 0 0;
}
.copyright__wrp_left-link {
  margin: 0 10px;
  position: relative;
  outline: none;
}
.copyright__wrp_left-link::after {
  display: block;
  content: "";
  height: 10px;
  border-right: 1px solid #555555;
  position: absolute;
  bottom: 3px;
  right: -10px;
}
.copyright__wrp_right-link {
  margin-right: 20px;
  position: relative;
}
.copyright__wrp_right-link::after {
  display: block;
  content: "";
  height: 10px;
  border-right: 1px solid #555555;
  position: absolute;
  bottom: 3px;
  right: -10px;
}
@media (max-width: 1280px) {
  .main-header {
    padding: 40px 40px;
  }
  .main-header-nav-wrp {
    padding: 0;
    flex-wrap: wrap;
  }
  .main-header-nav-wrp-logo {
    width: 100%;
    margin: 0;
  }
  .main-header-nav-wrp-logo-svg {
    margin: 0 0 0 auto;
  }
  .main-header-nav-wrp-logo-text {
    margin: 0 auto 0 0;
  }
  .services {
    flex-wrap: nowrap;
  }
  .services-item {
    margin: 0;
  }
  .realization-ideas {
    padding: 40px 40px 0 40px;
  }
  .realization-ideas__text {
    padding: 0;
  }
  .realization-ideas__content {
    width: auto;
    margin: 0px auto;
  }
  .realization-ideas__content-img {
    transform: scale(0.8);
  }
  .realization-ideas__content-img:hover {
    transform: scale(0.8);
  }
  .realization-ideas__content-img:nth-child(1) {
    right: 10%;
  }
  .realization-ideas__content-img:nth-child(2) {
    bottom: -8px;
    left: 0;
  }
  .realization-ideas__content-img:nth-child(2):hover {
    transform: scale(0.8);
  }
  .realization-ideas__content-img:nth-child(3) {
    left: 10%;
  }
  .latest-projects__content {
    justify-content: space-around;
  }
  .latest-projects__content-wrp {
    margin: 0 30px 30px 30px;
  }
  .latest-projects__content-wrp:nth-child(4),
  .latest-projects__content-wrp:nth-child(5),
  .latest-projects__content-wrp:nth-child(6) {
    margin: 0 30px 30px 30px;
  }
  .mobile {
    padding: 40px 40px 0 40px;
    justify-content: center;
  }
  .mobile__content {
    margin: 0;
  }
  .counters {
    justify-content: space-around;
  }
  .counters-item {
    margin: 0;
  }
  .recent-posts {
    padding: 80px;
  }
  .recent-posts__content-item:nth-child(1) {
    display: none;
  }
  .partners {
    justify-content: space-between;
    padding: 80px 20px;
  }
  .partners-link {
    margin: 0;
    transform: scale(0.8);
  }
  .partners-link:hover {
    transform: scale(1);
  }
  .footer__widget {
    height: auto;
  }
  .footer__widget-wrp {
    flex-direction: column;
  }
  .footer__widget-link:nth-child(1) {
    margin: 0 auto 10px auto;
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(1):hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(2) {
    margin: 0 auto 10px auto;
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(2):hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(3) {
    margin: 0 auto 10px auto;
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(3):hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(4) {
    margin: 0 auto;
    transition: transform 0.2s;
  }
  .footer__widget-link:nth-child(4):hover {
    transform: scale(1.2);
    transition: transform 0.2s;
  }
  .copyright {
    padding: 20px;
    justify-content: space-around;
  }
  .copyright__wrp {
    margin: 0;
  }
}
@media (max-width: 920px) {
  .main-header {
    min-height: auto;
  }
  .main-header-nav-wrp {
    margin: 0 0 20% 0;
  }
  .main-header-nav-wrp-logo {
    width: auto;
    margin: 0 auto 0 0;
  }
  .main-header-nav-wrp-list {
    order: 2;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }
  .main-header-nav-wrp-list-item {
    margin: 0;
  }
  .main-header-content-wrp {
    position: relative;
  }
  .main-header-content-wrp-control {
    margin: 0;
    position: absolute;
    top: 25%;
    right: 0;
  }
  .main-header-content-wrp-control:nth-child(1) {
    left: 0;
  }
  .main-header-content-wrp-content {
    width: 100%;
    margin: 0 0 20% 0;
  }
  .main-header-content-wrp-content-title-1 {
    font-size: 24px;
  }
  .main-header-content-wrp-content-title-2 {
    font-size: 36px;
  }
  .main-header-content-wrp-content-text {
    padding: 0px 40px;
  }
  .basket {
    order: 1;
    margin: 0 0 0 20px;
  }
  .search {
    left: -200px;
    bottom: 0;
  }
  .search:focus {
    width: 225px;
  }
  .services {
    padding: 40px 0;
    max-width: 750px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .services-item:nth-child(2) {
    margin: 0 0 20px 0;
  }
  .services-item:nth-child(1) {
    margin: 0 0 20px 0;
  }
  .realization-ideas__content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: static;
  }
  .realization-ideas__content-img {
    margin: 0 0 20px 0;
    transform: none;
  }
  .realization-ideas__content-img:hover {
    transform: none;
  }
  .realization-ideas__content-img:nth-child(1) {
    position: static;
    width: 385px;
    height: 200px;
  }
  .realization-ideas__content-img:nth-child(2) {
    position: static;
    width: 385px;
    height: 200px;
  }
  .realization-ideas__content-img:nth-child(2):hover {
    transform: none;
  }
  .realization-ideas__content-img:nth-child(3) {
    position: static;
    width: 385px;
    height: 200px;
    margin: 0em;
  }
  .wordpress {
    align-items: center;
  }
  .wordpress-box {
    padding: 20px;
  }
  .wordpress__title {
    font-size: 24px;
  }
  .wordpress__text {
    font-size: 16px;
  }
  .latest-projects__nav-link {
    padding: 8px 10px;
  }
  .latest-projects__content-wrp:nth-child(5) {
    margin: 0 30px 30px 30px;
  }
  .video {
    padding: 40px 0;
    position: static;
    flex-direction: column-reverse;
  }
  .video__infobox {
    position: static;
    width: auto;
    margin-top: 20px;
  }
  .video__infobox-play {
    display: none;
  }
  .video__infobox-title {
    color: #555555;
  }
  .video__infobox-text {
    color: #555555;
  }
  .video__infobox-time {
    display: none;
  }
  .mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
  .mobile__content {
    margin: 0;
  }
  .mobile__content-title {
    margin: 0px auto 25px auto;
    text-align: center;
  }
  .mobile__content-text {
    margin: 0;
  }
  .mobile__content-list {
    margin: 30px 0;
  }
  .counters {
    padding: 20px;
    justify-content: space-evenly;
  }
  .counters-meter {
    font-size: 24px;
  }
  .counters-title {
    font-size: 10px;
  }
  .recent-posts__content-item:nth-child(2) {
    display: none;
  }
  .partners {
    padding: 40px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .partners-link {
    margin: 0px 10% 0 0;
  }
  .partners-link:last-child {
    margin: 0px 10% 0 0;
  }
  .footer__posts {
    display: none;
  }
  .footer__twitter {
    display: none;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright__wrp_left {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 576px) {
  .main img {
    width: 100%;
    height: 100%;
  }
  .mobile-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    order: 2;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  .mobile-menu::before {
    display: block;
    content: "";
    background-color: #fff;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-in-out;
  }
  .mobile-menu::after {
    display: block;
    content: "";
    background-color: #fff;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transition: background-color 0.2s ease-in-out;
  }
  .mobile-menu-bar {
    margin: 14px 0 0 0;
    padding: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
    transition: transform 0.2s ease-in-out;
    position: absolute;
  }
  .mobile-menu-check:checked ~ .mobile-menu > .mobile-menu-bar-1 {
    transform: rotate(45deg);
  }
  .mobile-menu-check:checked ~ .mobile-menu > .mobile-menu-bar-2 {
    transform: rotate(-45deg);
  }
  .mobile-menu-check:checked ~ .mobile-menu::before {
    background-color: transparent;
  }
  .mobile-menu-check:checked ~ .mobile-menu::after {
    background-color: transparent;
  }
  .mobile-menu-check:checked ~ .main-header-nav-wrp-list {
    height: auto;
    visibility: visible;
  }
  .main-header {
    background-position: top;
    padding: 20px;
  }
  .main-header-nav-wrp {
    margin: 0;
  }
  .main-header-nav-wrp-list {
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    height: 0;
    text-align: center;
  }
  .main-header-nav-wrp-list-item {
    width: 100%;
  }
  .main-header-nav-wrp-list-item-link {
    line-height: 40px;
  }
  .main-header-content-wrp {
    display: none;
  }
  .main-header-pagination {
    display: none;
  }
  .basket {
    margin: 0 20px;
  }
  .search {
    left: -125px;
  }
  .search:focus {
    width: 150px;
  }
  .services-item {
    width: 50%;
  }
  .services-item-title {
    font-size: 16px;
  }
  .services-item-content {
    width: 80%;
  }
  .realization-ideas {
    padding: 40px 20px;
  }
  .realization-ideas__content-img:nth-child(1) {
    width: 100%;
    height: 100%;
  }
  .realization-ideas__content-img:nth-child(2) {
    width: 100%;
    height: 100%;
  }
  .realization-ideas__content-img:nth-child(3) {
    width: 100%;
    height: 100%;
  }
  .wordpress {
    display: none;
  }
  .wordpress-box {
    display: none;
  }
  .latest-projects {
    padding: 40px 20px;
  }
  .latest-projects__content-wrp {
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
  }
  .latest-projects__content-wrp:nth-child(4) {
    display: none;
  }
  .latest-projects__content-wrp:nth-child(5) {
    display: none;
  }
  .latest-projects__content-wrp:nth-child(6) {
    display: none;
  }
  .latest-projects__nav {
    flex-direction: column;
  }
  .latest-projects__nav-link {
    margin: 0 0 10px 0 ;
  }
  .mobile {
    padding: 40px 20px;
  }
  .mobile__img {
    width: 100%;
    height: 100%;
  }
  .counters {
    display: none;
  }
  .recent-posts {
    padding: 40px 0;
  }
  .recent-posts-title {
    padding: 0 20px;
  }
  .recent-posts-text {
    padding: 0 20px;
  }
  .recent-posts__content-item {
    width: 100%;
    height: 100%;
  }
  .partners {
    padding: 40px 20px;
  }
  .partners-link {
    margin: 0;
    width: 50%;
    transform: scale(0.6);
  }
  .partners-link:hover {
    transform: scale(0.6);
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  .partners-link:active {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .partners-link:last-child {
    margin: 0;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer__desc {
    max-width: 576px;
    margin: 0;
  }
  .footer__desc-logo {
    margin: -5px auto 20px auto;
  }
  .footer__desc-link {
    margin: 0 auto;
  }
  .footer__widget {
    display: none;
  }
  .copyright {
    padding: 40px 20px;
  }
  .copyright__wrp_left {
    flex-wrap: wrap;
  }
}
